<li><%= link_to question.title, question_path(question.id) %> | questioned by <%= question.user.username %></li>
	<% if user_signed_in? %>
		<% if question.user.id == current_user.id %>
			<%= link_to 'edit', edit_question_path(question.id) %>
			<%= link_to 'future delete button', question_path(question), method: :delete, data: { confirm: "really really?!" } %>
		<% end %>
	<% end %>
		<%= question.body %>